* { margin:0; padding:0;}
html, body { height:100%;}
body {background:url(../images/login_bg.png) left top no-repeat #fff; font-family:"Î¢ÈíÑÅºÚ",Arial; font-size:100%; line-height:1em; color:#000;}
img {border:0;}
.clear { clear:both; height:0px;}
.noborder{border: 0px; background:transparent;}



#login_bg {width:600px;margin:0px auto;}

.login_logo{margin-top:150px;width:335px;height:260px; margin-left:0px;background:url(../images/login_logo.png) left top no-repeat;float:left;}
.login_input{margin-top:150px;float:right;}
.login_title{margin-top:50px;width:100%;color:#fff;font-size:14px; font-family:"Î¢ÈíÑÅºÚ";text-align:center;}

.userid{width:225px;height:25px;line-height:25px;float:left;vertical-align:middle;margin-top:15px;background:url(../images/login_inputbg.png) left top no-repeat;}
.userid input{color:#5d5d5d;font-size:13px;BACKGROUND: transparent;width:225px;height:25px;height:25px;line-height:25px;margin-left:10px;}
.password{width:225px;height:25px;line-height:25px;float:left;vertical-align:middle;margin-top:15px;background:url(../images/login_inputbg.png) left top no-repeat;}
.password input{color:#5d5d5d;font-size:13px;BACKGROUND: transparent;width:225px;height:25px;height:25px;line-height:25px;margin-left:10px;}
.certificate{width:225px;height:25px;line-height:25px;float:left;vertical-align:middle;margin-top:15px;background:url(../images/login_inputbg2.png) left top no-repeat;}
.certificate input{color:#5d5d5d;font-size:13px;BACKGROUND: transparent;width:125px;height:25px;height:25px;line-height:25px;margin-left:10px;}

.login_btn{clear:both;width:100%;height:40px; margin-top:20px;}
.rem{width:120px;color:#fff;font-size:12px;float:left;}
.btn{width:92px; float:left; text-align:right; margin-left:20px;}

.login_alert{clear:both;width:100%;height:30px; margin-top:10px;color:#ff0000;font-size:12px;}

#copyright{ width:440px;margin:0px auto;color:#316db7;text-align:center; font-size:12px;line-height:20px;padding-top:100px;}
