

<div>

    sdfdsfdsf<br/><br/><br/><br/><br/>
    sdfdsfdsf<br/><br/><br/><br/><br/>sdfdsfdsf<br/><br/><br/><br/><br/>
    sdfdsfdsf<br/><br/><br/><br/><br/>sdfdsfdsf<br/><br/><br/><br/><br/>
    sdfdsfdsf<br/><br/><br/><br/><br/>sdfdsfdsf<br/><br/><br/><br/><br/>
    sdfdsfdsf<br/><br/><br/><br/><br/>sdfdsfdsf<br/><br/><br/><br/><br/>
    sdfdsfdsf<br/><br/><br/><br/><br/>sdfdsfdsf<br/><br/><br/><br/><br/>
</div>

<div id="div1"></div>

<div class="icon-bar five-up" id="toolbar" style="position:fixed;top:0;display:none">
  <a class="item">
    <img src="/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="/images/fi-like.svg" >
    <label>Like</label>
  </a>
</div>