/* Buttons
---------------------------------------------------------------------*/
.button {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    padding: 0;
    text-align: center;
    overflow: visible;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
}

.button:hover, .button:focus, .button:active {
    outline: medium none;
    border: 1px solid #329ECC;
    opacity: 0.9;
    -khtml-opacity: .9;
    -moz-opacity: 0.9;
    -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
    box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
}

.button-text {
    cursor: pointer;
    border: none;
    float: left;
}

.button-icon {
    top: 3px;
    left: 12px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
}

.button input.button-text,
.button button.button-text {
    *line-height: normal;
    overflow: visible;
    border: none;
    float: left;
    padding: 3px 6px 1px 8px;
}

.button-blue, .button-green, .button-red, .button-white, .button-text {
    outline: none;
    padding: 2px 15px 6px;
}

.button-blue .button-text,
.button-green .button-text,
.button-red .button-text,
.button-white .button-text {
    height: 18px;
    color: #fff;
    font: 700 12px/1.1 Tahoma, Arial, sans-serif;
}

.button-green {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #749217;
    background-color: #6AB620;
}

.button-green .button-text {
    background-color: #6AB620;
}

.button-green:hover, .button-green:focus, .button-green:active {
    -moz-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
    -webkit-box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
    box-shadow: 0 0 5px rgba(116, 146, 23, 0.9);
    border: 1px solid #749217;
}

.button-blue {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #2D69AC;
    background-color: #3C6ED1;
}

.button-blue .button-text {
    background-color: #3C6ED1;
}

.button-blue:hover, .button-blue:focus, .button-blue:active {
    -moz-box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
    -webkit-box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
    box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
    border: 1px solid #2D69AC;
}

.button-red {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #AE2B2B;
    background-color: #D22A2A;
}

.button-red .button-text {
    background-color: #D22A2A;
}

.button-red:hover, .button-red:focus, .button-red:active {
    -moz-box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
    -webkit-box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
    box-shadow: 0 0 5px rgba(174, 43, 43, 0.9);
    border: 1px solid #AE2B2B;
}

.button-white {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid #cfcfcf;
    background-color: #efefef;
}

.button-white .button-text {
    color: #333;
    background-color: #efefef;
}

.button-white:hover, .button-white:focus, .button-white:active {
    -moz-box-shadow: 0 0 5px rgba(181, 181, 181, 0.9);
    -webkit-box-shadow: 0 0 5px rgba(181, 181, 181, 0.9);
    box-shadow: 0 0 5px rgba(181, 181, 181, 0.9);
    border: 1px solid #cfcfcf;
}

.button-search input.button-text,
.button-search button.button-text {
    padding-left: 18px;
}

.button-search .button-icon {
    background: url("../../../images/search.png") no-repeat;
}

.button-printer input.button-text,
.button-printer button.button-text {
    padding-left: 18px;
}

.button-printer .button-icon {
    background: url("../../../images/printer.png") no-repeat;
}