
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="zh"><![endif]-->
<html class="no-js" lang="zh">
        <meta charset="$ui.charset" />
        <!-- If you delete this meta tag World War Z will become a reality -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>$!ui.title</title>
    	## 配置css
        #SLITERAL($!ui.css)
        #SLITERAL($!ui.__style)
        <script src="/assets/$-2.1.1.js"></script>
    </head>
    <body>

    #parse($!ui.__screen)

    ## 配置js
    #SLITERAL($!ui.js)
    #SLITERAL($!ui.__script)
</body>
</html>