.sidebar {
    display: block;
    float: left;
    width: 100%;

}

.content {
    display: block;
    overflow: hidden;
    width: auto;
}

.sidebar-nav {
    background: #f5f5f5;
}

.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav a,
.sidebar-nav a:hover,
.sidebar-nav a:focus,
.sidebar-nav a:active {
    outline: none;
}

.sidebar-nav ul li,
.sidebar-nav ul a {
    display: block;
}

.sidebar-nav ul a {
    border-top: 1px solid #ddd;
    padding: 10px 20px 10px 40px;
    color: #fff;
    background: #0C61CC;
}

.sidebar-nav ul a:hover,
.sidebar-nav ul a:focus,
.sidebar-nav ul a:active {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav ul ul a {
    color: #337ab7;
    padding: 10px 20px 10px 40px;
    background-color: transparent;
}

.sidebar-nav ul ul a:hover,
.sidebar-nav ul ul a:focus,
.sidebar-nav ul ul a:active {
    background-color: #eee;
    color: #23527C;
}

.sidebar-nav-item {
    padding-left: 5px;
}

.sidebar-nav-item-icon {
    padding-right: 5px;
}