#*
<div class="side_box" id="J_sidebox">
    <div class="drawers-wrapper">
    	<div class="boxcap captop"></div>
		<ul class="drawers">
			<li class="drawer">
				<h2 class="drawer-handle open">用气报表</h2>
				<ul>
					<li><a href="#" data-key="RIYONG" data-url="/report/day">日用气量</a></li>
					<li><a href="#" data-key="YUEYONG" data-url="/report/day">月用气量</a></li>
					<li><a href="#" data-key="NIANYONG" data-url="/report/day">年用气量</a></li>
				</ul>
			</li>
			<li class="drawer">
				<h2 class="drawer-handle">收费报表</h2>
				<ul>
					<li><a href="#">月收费</a></li>
					<li><a href="#">年收费</a></li>
					<li><a href="#">收费明细</a></li>
					<li><a href="#">账户明细报表</a></li>
				</ul>
			</li>
			<li class="drawer">
				<h2 class="drawer-handle">统计图</h2>
				<ul>
					<li><a href="#" title="">日用气量</a></li>
					<li><a href="#" title="">月用气量</a></li>
					<li><a href="#" title="">年用气量</a></li>
					<li><a href="#" title="">不同时间用量对比</a></li>
					<li><a href="#" title="">同一时间段用量趋势图</a></li>
				</ul>
			</li>
			<li class="drawer">
				<h2 class="drawer-handle">通讯管理</h2>
				<ul>
					<li><a href="#" title="">Submenu Item 1</a></li>
					<li><a href="#" title="">Submenu Item 2</a></li>
					<li><a href="#" title="">Submenu Item 3</a></li>
				</ul>
			</li>
			<li class="drawer last">
				<h2 class="drawer-handle">异常报表</h2>
				<ul>
					<li><a href="#" title="">不用气</a></li>
					<li><a href="#" title="">不上传</a></li>
					<li><a href="#" title="">欠费用户</a></li>
					<li><a href="#" title="">报表信息</a></li>
					<li><a href="#" title="">阀门信息</a></li>
					<li><a href="#" title="">余量不足</a></li>
					<li><a href="#" title="">电量不足</a></li>
					<li><a href="#" title="">电磁干扰</a></li>
					<li><a href="#" title="">到期表具</a></li>
				</ul>
			</li>
		</ul>
    	<div class="boxcap"></div>
    </div>
</div>
*#

<div class="col-sm-3 col-md-2 nav-sidebar" >
	<aside class="sidebar">
	<nav class="sidebar-nav">
	    <ul id="J_sidebar">
            <li>
            	<a href="#">用气报表<span class="glyphicon arrow"></span></a>
				  <ul>
					  <li><a href="#" data-key="RIYONG" data-url="/report/day">日用气量</a></li>
						<li><a href="#" data-key="YUEYONG" data-url="/report/day">月用气量</a></li>
						<li><a href="#" data-key="NIANYONG" data-url="/report/day">年用气量</a></li>
				  </ul>
			  </li>
              <li>
                  <a href="#">收费报表<span class="glyphicon arrow"></span></a>
                  <ul>
                      <li><a href="#" data-key="RIYONG22" data-url="/report/day">月收费</a></li>
						<li><a href="#" data-key="YUEYONG22" data-url="/report/day">年收费</a></li>
						<li><a href="#" data-key="NIANYONG22" data-url="/report/day">收费明细</a></li>
						<li><a href="#">账户明细报表</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#">统计图<span class="glyphicon arrow"></span></a>
                  <ul>
                      <li><a href="#" data-key="RIYONG33" data-url="/report/day">日用气量</a></li>
						<li><a href="#" data-key="YUEYONG33" data-url="/report/day">月用气量</a></li>
						<li><a href="#" data-key="NIANYONG33" data-url="/report/day">年用气量</a></li>
						<li><a href="#" title="">不同时间用量对比</a></li>
						<li><a href="#" title="">同一时间段用量趋势图</a></li>
                  </ul>
              </li>
              <li>
					<a href="#">异常报表<span class="glyphicon arrow"></span></a>
					<ul>
						<li><a href="#" title="">不用气</a></li>
						<li><a href="#" title="">不上传</a></li>
						<li><a href="#" title="">欠费用户</a></li>
						<li><a href="#" title="">报表信息</a></li>
						<li><a href="#" title="">阀门信息</a></li>
						<li><a href="#" title="">余量不足</a></li>
						<li><a href="#" title="">电量不足</a></li>
						<li><a href="#" title="">电磁干扰</a></li>
						<li><a href="#" title="">到期表具</a></li>
					</ul>
				</li>
          </ul>
          </nav>
      </aside>
</div>
