<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="$ui.charset" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="$ui.keywords" />
        <meta name="description" content="$ui.description" />
        <title>$ui.title</title>
        <link href="http://g.alicdn.com/bui/bui/1.1.14/css/bs3/dpl.css" rel="stylesheet">
        <link href="http://g.alicdn.com/bui/bui/1.1.14/css/bs3/bui.css" rel="stylesheet">
    	## 配置css
        #SLITERAL($ui.css)
        #SLITERAL($ui.__style)
        <style>
        .doc-content {
            padding: 20px;
        }
        </style>
        <script src="http://g.tbcdn.cn/fi/bui/jquery-1.8.1.min.js"></script>
        <script src="http://g.alicdn.com/bui/seajs/2.3.0/sea.js"></script>
        <script src="http://g.alicdn.com/bui/bui/1.1.10/config.js"></script>
    </head>
    <body>

## 系统头部导航
<link href="http://fc.assets.alipay.net/fcmenu/1.0.1/menu.css" rel="stylesheet" charset="utf-8" />
<!–[if IE 8.0]>
<style>
body ul#J-nav>li>a{
  line-height /*\**/:34px\9
}
</style>
<![endif]–>

<header ui-view="header" class="navbar navbar-default navbar-static-top fc-header" role="navigation">
  <div class="container-fluid navbar navbar-default navbar-static-top fc-header">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://fcbumng.alibank.net/console/myHome.htm">
        <span class="logo-icon"></span>
        <span class="logo-name" title="网商银行">网商银行</span>
      </a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" id="J-nav">
      	      </ul>

  	  	  <ul class="nav navbar-nav ">
        <li class="dropdown-trigger">
          <a href="">公告</a>
          <ul class="dropdown-menu">
						<li><a href="#" >当前您没有未读公告！</a></li>
						<li> <a href="http://fcbuportal-1.alibank.net/placard/queryAllPlacard.htm" >进入公告中心</a> <a href="#" >我知道了</a></li>
          </ul>
        </li>
      </ul>


            <ul class="nav navbar-nav navbar-right">
        <li class="dropdown-trigger">
          <a href="#">wb-wanglinglin <i class="iconfont" title="下三角形">&#xF03C;</i></a>
          <ul class="dropdown-menu">
            <li><a href="http://fcbumng.alibank.net/console/myHome.htm" >我的权限</a></li>
            <li><a href="http://fcbuservice-1.alibank.net/logout.htm" ng-click="logout()"></span>登出</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
  <div id="nav-sub">
  	    <a href="#" id="J-up" class="s-up">收起</a>
  </div>

</header>

<style>
  body .fc-contain{
    margin-top:0;
  }
</style>


<script>
  if(jQuery){
    var $ = jQuery;
  }
  $(function(){
    var trigger = $('#J-nav a');
    var triggerli = $('#J-nav li');
    var subnavs = $('.item', '#nav-sub');
    var slideUp = $('#J-up');

    trigger.each(function(index){
      $(this).click(function(e){
        e.preventDefault();
        triggerli.removeClass('active');
        $(this).parent('li').addClass('active');
        if($(subnavs[index]).css('display') == 'block'){
          slideUp.click();
        }else{
          subnavs.slideUp();
          $(subnavs[index]).slideDown();
          slideUp.show();
        }
      })
    });

    slideUp.click(function(){
      subnavs.slideUp();
      $(this).slideUp();
      triggerli.removeClass('active');
    });

    $(document).click(function(e){
      if(slideUp.css('display') == 'none'){
        return;
      }
      if(e.target.id != "nav-sub" && e.target.nodeName != "A" && e.target.nodeName != 'INPUT' && e.target.nodeName != 'TEXTAREA' && e.target.nodeName != 'BUTTON'){
        subnavs.slideUp();
        slideUp.slideUp();
        triggerli.removeClass('active');
      }
    });
  });
</script>
## 导航结束
<div class="doc-content">