#*
@description: 默认头部
*#
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>$!ui.title</title>
    	## 配置css
        #SLITERAL($!ui.css)
        #SLITERAL($!ui.__style)
        ## seajs配置本地化
        <script charset="utf-8" src="/assets/sea.js"></script>
        <script charset="utf-8" src="/assets/seajs-style/1.0.2/seajs-style.js"></script>
        <script>
            seajs && seajs.config({
                base : '/assets',
                /*paths: {
                 assets: '/assets'
                 },*/
                alias : {
                    '$' : 'jquery-1.11.1'
                },
                charset : 'utf-8'
            });
        </script>
        <script src="/assets/jquery-1.11.1.min.js"></script>
    </head>
    <body>
    <script>
                $(document).ready(function(){
                    tabpanel = new TabPanel({
                        renderTo:'ui-tabs',
                        width:'auto',
                        height:'1000px',
                        //border:'none',
                        active : 0,
                        //maxLength : 10,
                        items : [
                            {id:'toolbarPlugin1',title:'Google',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                            {id:'toolbarPlugin12',title:'Google333',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                            {id:'toolbarPlugin3',title:'Google',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                        {id:'toolbarPlugin14',title:'Google333',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                        {id:'toolbarPlugin5',title:'Google',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                                                    {id:'toolbarPlugin126',title:'Google333',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                                                    {id:'toolbarPlugin17',title:'Google',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                                                                                {id:'toolbarPlugin128',title:'Google333',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                                                                                {id:'toolbarPlugin19',title:'Google',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                                                                                                            {id:'toolbarPlugin120',title:'Google333',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                                                                                                            {id:'toolbarPlugin123',title:'Google',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true},
                                                                                                                                                                        {id:'toolbarPlugin1244',title:'Google333',html:'<iframe src="/home/tab" width="100%" height="100%" frameborder="0"></iframe>',closable: true}
                        ]
                    });
                });
            </script>
    <div class="container">
        ##侧边栏
        #cmsparse("component/sidebar.vm")
        <div class="main_box">
            <div class="m_box">